<!-- raw html -->

<div id="redoc-container"></div>

<script>
  console.log('coucou')

  Redoc.init('https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/support/doc/api/openapi.yaml', {
    nativeScrollbars: true,
    requiredPropsFirst: true,
    sortPropsAlphabetically: true,
    theme: {
      colors: {
        primary: {main: '#f48a44'},
      },
    },
  }, document.getElementById('redoc-container'))
</script>



